$color1: black;
$color2: white;
$color3: rgb(99, 96, 96);
$colorNav: rgb(40, 196, 196);

$background-color1: rgb(40, 196, 196, 0.356);
$background-color2: rgb(110, 177, 177);


$background-color3:rgb(197, 193, 193);

$width1: 50%;